body{
	display: flex;
	justify-content: center;
	
	}



.clic{
	width: 1100px;
	height: 600px;
	border: 2px solid blue;
	position: relative;
	background-image: url("oitnb.jpg");
	background-size: cover;
	border-radius: 10px;
	box-shadow: 6px 0 54px black;

}

.btn{
	transition: all .2s ease-in-out;
}
#compteur{
	font-size: 20px;
	color:#fff;
}

.animate{
	border-style: none;
    color:black;
	border-radius: 100%;
	background-color: blue;
	width: 50px;
	height: 50px;
	cursor: pointer;
	animation: monanim 1.5s;
	position: absolute;
	list-style-type: none;
    
}

@keyframes monanim{
	               0%{
	               	  background-color: blue;


                     }

                  25%{
                    background-color: midnightblue;
                       height: 100px;
                       width: 100px;
                       

                     }
                  75%{
                         background-color: orange;
                         height: 120px;
                         width: 120px;
                         
                     }
                  100%{
                         background-color: red;
                         height: 150px; 
                         width: 150px;                	
                  }
                  
}